body {
    font-family: 'Courgette', cursive;
}
body {
    background-color: lightgrey;
}
/* .wrap {
    background-image: url(../images/delicousp.jpg);
    color: white;
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */
.three {
    position: absolute;
    top: 30%;
    left: 40%;
    color: white;
    font-size: 100px;
}
.three h {
    font-size: 75px;
}
.wrapper nav {
   background-color: red;
}
.contact ul li {
    background-color: indianred;
    list-style: none;
    width: 100%;
}
.about {
    font-size: 25px;
}
.section {
    text-align: center;
}
.vuuu h2 {
    text-align: center;
}
#section3{
    background-image: url(https://image.freepik.com/free-photo/slice-delicious-pizza-with-ingredients-textured-wooden-background_23-2147926094.jpg);
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
}
.row .col-md-3 {
    color: white;
    font-size: 20px;
    list-style-type: none;
}